


body {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  background-color: rgb(21, 21, 21);
  color: rgb(26, 173, 80);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid  1px rgb(26, 173, 80);
}

a {
  color: green;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  margin: 10px;
  font-size: 20px;
}

.avatar-images {
  border-radius: 20%;
}


.sign-in-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 700px;
  height: 700px;
  background-color: rgb(21, 21, 21);
  border-radius: 1%;
}

.avatar-pick {
  display: flex;
  align-items: center;
  justify-content: center;
}
